<configuration>
   <system.webServer>
       <security>
          <requestFiltering>
               <hiddenSegments>
                   <add segment="ee" />
               </hiddenSegments>
           </requestFiltering>
       </security>
        <rewrite>
            <rules>
                <rule name="https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTPS_HOST}{HTTPS_HOST}" />
                </rule>
            </rules>
        </rewrite>
   </system.webServer>
</configuration>
