<configuration>
   <system.webServer>
       <security>
          <requestFiltering>
               <hiddenSegments>
                   <add segment="cvdir" />
               </hiddenSegments>
           </requestFiltering>
       </security>
       <rewrite>
           <rules>
             <rule name="ReverseProxyInboundRule" stopProcessing="true">
                 <match url="^(api/getTeam)$" />
                 <action type="Rewrite" url="/api/script/get_team.php" logRewrittenUrl="true" />
                 <conditions>
                 </conditions>
             </rule>
             <rule name="ReverseProxyInboundRule4" stopProcessing="true">
                 <match url="^(api/getArticleCategory)$" />
                 <action type="Rewrite" url="/api/script/get_article_category.php" logRewrittenUrl="true" />
                 <conditions>
                 </conditions>
             </rule>
               <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                   <match url="^(api/)(.*)(/)(.*)$" />
                   <action type="Rewrite" url="/api/script/get_article.php?team={R:2}&amp;category={R:4}" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
               <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                   <match url="^(api/)$" />
                   <action type="Rewrite" url="/api/script/get_article.php" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
               <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                   <match url="^(api/)(.*)$" />
                   <action type="Rewrite" url="/api/script/get_article.php?team={R:2}" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
           </rules>
       </rewrite>
   </system.webServer>
</configuration>
