<configuration>
   <system.webServer>
       <security>
          <requestFiltering>
               <hiddenSegments>
                   <add segment="cvdir" />
               </hiddenSegments>
           </requestFiltering>
       </security>
       <rewrite>
           <rules>
             <rule name="ReverseProxyInboundRule" stopProcessing="true">
                 <match url="^(api\/getTeam)[\/]{0,1}$" />
                 <action type="Rewrite" url="/api/script/get_team.php" appendQueryString="true" logRewrittenUrl="true" />
                 <conditions>
                 </conditions>
             </rule>
             <rule name="ReverseProxyInboundRule4" stopProcessing="true">
                 <match url="^(api\/getCategory)[\/]{0,1}$" />
                 <action type="Rewrite" url="/api/script/get_article_category.php" logRewrittenUrl="true" />
                 <conditions>
                 </conditions>
             </rule>
               <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                   <match url="^(api/getArticles/)(.*)(/)(.*)$" />
                   <action type="Rewrite" url="/api/script/get_article.php?team={R:2}&amp;category={R:4}" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
               <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                   <match url="^(api/getArticles/)(.*)$" />
                   <action type="Rewrite" url="/api/script/get_article.php?team={R:2}" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
               <rule name="ReverseProxyInboundRule5" stopProcessing="true">
                   <match url="^(api/getArticles)$" />
                   <action type="Rewrite" url="/api/script/get_article.php" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
               <rule name="ReverseProxyInboundRule6" stopProcessing="true">
                   <match url="^(api)[\/]{0,1}$" />
                   <action type="Rewrite" url="/api/script/no_action.php" logRewrittenUrl="true" />
                   <conditions>
                   </conditions>
               </rule>
           </rules>
       </rewrite>
   </system.webServer>
</configuration>
